* {
  box-sizing: border-box;
}

body{
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;

  font-family: "Helvetica";
  padding: 50px 20px 0;
  background: #f4f4f7;
  color: #444;
  line-height: 1.15;
  // margin: 0;
}

.page-wrap {
  width: 60%;
}

@media (max-width: 1000px) {
  .page-wrap {
    margin: 0 auto;
    width: 75%;
  }
}

@media (max-width: 560px) {
  .page-wrap {
    width: 95%;
  }
}

h1 {
  font-style: italic;
  font-size: 2.4em;
  margin-top: 0;
}

h2 {
  margin-top: 1.3em;
  font-size: 1.8em;
  margin-bottom: 0;
  position: relative;
}

h2:first-child {
  margin-top: 0;
}

h2::before {
  content: ">";
  display: inline-block;
  color: #5aa86a;
  position: absolute;
  left: -1.1em;
  font-size: 0.9em;
}

h3 {
  color: #2b847b;
  font-size: 1.5em;
  margin-top: 2.7em;
  // position: relative;
  display: flex;
  align-items: center;
}

h3#day-1-622 {
  margin-top: 1em;
}

h3::after {
  background-color: #baddd9;
  content: "";
  display: inline-block;
  height: 2px;
  margin-bottom: 0.2em;
  margin-left: 1em;
  width: 70%;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 1.6em;
  position: relative;
}

.container {
  margin: 0 auto;
  // max-width: $content-width;
}

blockquote {
  border-left: 2px solid lightgrey;
}

header {
  margin-bottom: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgrey;
  nav {
    a {
      // background: $blue;
      color: white;
      padding: 4px;
    }
  }
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

ul li {
  padding-top: 0.3em;
}

p, li {
  line-height: 1.25;
}